@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .cardLogin{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 40%;
        max-width: 400px;
        min-width: 300px;

        .labelLogin{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 45px;
            width: 100%;
            font-size: 45px;
            font-family: "Ubuntu Mono", monospace;
            font-weight: 300;
            color: #3B325A;
        }

        .form{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            form{
            display: flex;
            flex-direction: column;
            margin: 0px 0px 45px 0px;
            gap: 10px;
            width: 80%;


            input{
                padding: 7px;
                font-family: "Ubuntu Mono", monospace;
            }

            button{
                font-family: "Ubuntu Mono", monospace;
                height: 25px;
            }
            }
            
        }
    }

    
}
